<% if @book.errors.any? %>
<div id="error">
  <h3><%=@book.errors.count %>errors prohibited this obj from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%end%>
  </ul>
</div>
<%end%>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: Book.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <% if user_signed_in? %>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field 'search[value]' %>
          <%= f.select 'search[model]', options_for_select({"User" => "user", "Book" => "book"}) %>
          <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical" }) %>
          <%= f.submit '検索' %>
        <% end %>
      <% end %>
      <h2>Books</h2>
      <%= link_to '新しい順', books_path(sort_create: "true") %>
      |
      <%= link_to '評価の高い順', books_path(sort_rate: "true") %>
      |
      <%= link_to 'いいねが多い順', books_path(sort_favorite: "true") %>
      <%= render 'index', books: @books%>
    </div>
  </div>
</div>